Software/Xml/schemas/Config.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="Sensors.xsd"/>

  <xs:complexType name="vPort">
    <xs:attribute name="frameFormat" type="frameFormat"/>
    <xs:attribute name="baudrate" type="baudrate" use="required"/>
  </xs:complexType>

  <xs:element name="vPort" type="vPort"/>

  <xs:element name="vPortOverIp">
    <xs:complexType>
      <xs:attribute name="ip" type="ip" use="required"/>
      <xs:attribute name="port" type="port" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:group name="networkGroup">
    <xs:sequence>
      <xs:element name="ethernet">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="dhcp" minOccurs="1" maxOccurs="1">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="enable"/>
                  <xs:enumeration value="disable"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="ip" type="ip" minOccurs="1" maxOccurs="1"/>
            <xs:element name="netmask" type="ip" minOccurs="1" maxOccurs="1"/>
            <xs:element name="gateway" type="ip" minOccurs="1" maxOccurs="1"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="modbusRtuServer" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="port" type="port" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="modbusTcpServer" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="port" type="port" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="modbusAsciiServer" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:attribute name="port" type="port" use="required"/>
        </xs:complexType>
      </xs:element>
      <xs:element ref="vPortOverIp" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:group>

  <xs:element name="sensorReadingConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rs485MinInterval" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="value">
              <xs:simpleType>
                <xs:restriction base="xs:int">
                  <xs:minInclusive value="0"/>
                  <xs:maxInclusive value="60"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="logConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="digitInputs" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="mode" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="disabled"/>
                  <xs:enumeration value="byTime"/>
                  <xs:enumeration value="byChange"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="period" type="logPeriod" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="analogInputs" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="mode" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="disabled"/>
                  <xs:enumeration value="byTime"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="period" type="logPeriod" use="optional"/>
          </xs:complexType>
        </xs:element>
        <xs:element name="sensors" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:attribute name="mode" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="disabled"/>
                  <xs:enumeration value="enabled"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="maxSize" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="1"/>
            <xs:maxInclusive value="131072"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="overwriting" type="xs:boolean" use="required"/>
    </xs:complexType>
  </xs:element>

  <xs:element name="modbusRtuSlave">
    <xs:complexType>
      <xs:attribute name="frameFormat" type="frameFormat"/>
      <xs:attribute name="baudrate" type="baudrate" use="required"/>
      <xs:attribute name="address" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="modbusAsciiSlave">
    <xs:complexType>
      <xs:attribute name="frameFormat" type="frameFormat"/>
      <xs:attribute name="baudrate" type="baudrate" use="required"/>
      <xs:attribute name="address" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="255"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="gsmModem">
    <xs:complexType>
      <xs:attribute name="pinCode" use="optional">
        <xs:simpleType>
          <xs:restriction base="xs:int">
            <xs:minInclusive value="0"/>
            <xs:maxInclusive value="9999"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
      <xs:attribute name="apn" use="required">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:attribute>
    </xs:complexType>
  </xs:element>

  <xs:element name="multiplexer">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="com0" type="vPort"/>
        <xs:element name="com1" type="vPort"/>
        <xs:element name="com2" type="vPort"/>
        <xs:element name="com3" type="vPort"/>
        <xs:element name="com4" type="vPort"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="qxConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="comPortsConfig">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="com0">
                <xs:complexType>
                  <xs:choice>
                    <xs:element ref="gsmModem"/>
                    <xs:element ref="modbusRtuSlave"/>
                    <xs:element ref="modbusAsciiSlave"/>
                    <xs:element ref="vPort"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="com1">
                <xs:complexType>
                  <xs:choice>
                    <xs:element ref="vPort"/>
                    <xs:element ref="modbusRtuSlave"/>
                    <xs:element ref="modbusAsciiSlave"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="com2">
                <xs:complexType>
                  <xs:choice>
                    <xs:element ref="vPort"/>
                    <xs:element ref="modbusRtuSlave"/>
                    <xs:element ref="modbusAsciiSlave"/>
                    <xs:element ref="multiplexer"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="networkConfig" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="networkGroup"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="sensorReadingConfig" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="logConfig" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="sensorsConfig" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="vxConfig">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="comPortsConfig">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="com0">
                <xs:complexType>
                  <xs:choice>
                    <xs:element ref="gsmModem"/>
                    <xs:element ref="modbusRtuSlave"/>
                    <xs:element ref="modbusAsciiSlave"/>
                    <xs:element ref="vPort"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="com1">
                <xs:complexType>
                  <xs:choice>
                    <xs:element ref="vPort"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="com2">
                <xs:complexType>
                  <xs:choice>
                    <xs:element ref="vPort"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="com3">
                <xs:complexType>
                  <xs:choice>
                    <xs:element ref="vPort"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="com4">
                <xs:complexType>
                  <xs:choice>
                    <xs:element ref="vPort"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="com5">
                <xs:complexType>
                  <xs:choice>
                    <xs:element ref="vPort"/>
                    <xs:element ref="modbusRtuSlave"/>
                    <xs:element ref="modbusAsciiSlave"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
              <xs:element name="com6">
                <xs:complexType>
                  <xs:choice>
                    <xs:element ref="vPort"/>
                    <xs:element ref="modbusRtuSlave"/>
                    <xs:element ref="modbusAsciiSlave"/>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="networkConfig" minOccurs="1" maxOccurs="1">
          <xs:complexType>
            <xs:sequence>
              <xs:group ref="networkGroup"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element ref="sensorReadingConfig" minOccurs="1" maxOccurs="1"/>
        <xs:element ref="logConfig" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="sensorsConfig" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>